<div class="container">
  <div class="row">
    <div class="mb-3" style="max-width: 800px;"> 
      <h2 style="margin-bottom: 50px;">起業希望者投稿の検索</h2> 
      <form action="/posts_business">
        
        <%= render "layouts/posts/keyword_prefecture", keyword: @keyword, prefecture: @prefecture %>
       
        <div>投稿のタグ</div>
        <div class="category"><span class="badge text-bg-primary">やりたいこと</span><br>
          <% @category_wants.each_with_index do |category_want, index| %>
            <input class="form-check-input" type="checkbox" name="category_want_id[]" value="<%= category_want.id%>" <%= @check_flags_category_wants[index] ? 'checked' : '' %> >
            <%= category_want.tag_name %>&emsp;
          <% end %>
        </div>
       
        <div class="category"><span class="badge text-bg-secondary">本気度</span><br>
          <% @category_earnests.each_with_index do |category_earnest, index| %>
            <input class="form-check-input" type="checkbox" name="category_earnest_id[]" value="<%= category_earnest.id %>" <%= @check_flags_category_earnests[index] ? 'checked' : '' %> >
            <%= category_earnest.tag_name %>&emsp;
          <% end %>
        </div>
       
        <div>プロフィールのタグ</div> 
        <div class="category"><span class="badge rounded-pill text-bg-primary">職業</span><br>
          <% @category_jobs.each_with_index do |category_job, index| %>
            <input class="form-check-input", type="checkbox", name="category_job_id[]", value="<%= category_job.id %>" <%= @check_flags_category_jobs[index] ? 'checked' : '' %>>
            <%= category_job.tag_name %>&emsp;
          <% end %>
        </div> 
       
        <div class="category"><span class="badge rounded-pill text-bg-secondary">得意なこと</span><br>
          <% @category_skills.each_with_index do |category_skill, index| %>
            <input class="form-check-input" type="checkbox" name="category_skill_id[]" value="<%= category_skill.id %>" <%= @check_flags_category_skills[index] ? 'checked' : '' %>>
            <%= category_skill.tag_name %>&emsp;
          <% end %>
        </div> 
       
        <div class="category"><span class="badge rounded-pill text-bg-warning">興味のあること</span><br>
          <% @category_interests.each_with_index do |category_interest, index| %>
            <input class="form-check-input", type="checkbox", name="category_interest_id[]", value="<%= category_interest.id %>" <%= @check_flags_category_interests[index] ? 'checked' : '' %>>
            <%= category_interest.tag_name %>&emsp;
          <% end %>
        </div> 
       
        <%= render "layouts/posts/search_method", search_type: @search_type %> 
      </form>
      
      <div><a class="btn btn-secondary" href="/posts_business" role="button" style="margin-bottom: 40px;">検索条件をクリア</a></div>
    
      <%= render "layouts/posts/post_list", posts_count: @posts_count, posts: @posts %> 　
    </div>
  </div>
</div>