<%#= link_to post_path(post) do %>
  <div class="card mb-3" style="max-width: 800px;">
    <% if @current_user_flag == true %>
      <% if post.public_status_id == 1 %>
    　   <div class="card-header">公開</div>
      <% elsif post.public_status_id == 2 %> 
    　   <div class="card-header">非公開</div>
      <% end %>　 
    <% end %>
    <% if post.public_status_id == 3 %>
    　<div class="card-header">終了</div>
    <% end %>
    <div class="row g-0">
      <div class="col-md-5">
        <% if post.images.attached? %>
          <% post.images.each_with_index do |image, index| %>
            <% if index == 0 %>
              <%= image_tag image.variant(resize_to_fill: [250, 300]), class: "img-fluid rounded-start" %>
            <% end %>  
          <% end %>
        <% end %>
      </div>
      <div class="col-md-7">
        <div class="card-body">
          <% if post.post_type == 1 %>
            <span class="badge badge-region">土の人</span>
          <% else %>
            <span class="badge badge-business">風の人</span>
          <% end %>
          <h5 class="card-title"><%= post.title %></h5>
          <%= render "layouts/posts/favorite", post: post %>
          <p class="card-text"><%= post.user.user_profile.screen_name %></p>
          <p class="card-text-place"><%= post.prefecture %><%= post.city %></p>
          <p class="card-text"><small class="text-body-secondary"><%= l post.updated_at %></small></p>
            
          <% post.post_category_resources.each do |post_category_resource| %>
            <span class="badge text-bg-primary">
              <%= post_category_resource.category_resource.tag_name %>
            </span>
          <% end %>
          
          <%#= render "layouts/posts/category_badge", post: post, post_categories: post_category_resources, badge: "badge text-bg-secondary", category: category_resource %>
          
          <% post.post_category_issues.each do |post_category_issue| %>
            <span class="badge text-bg-secondary">
              <%= post_category_issue.category_issue.tag_name %>
            </span>   
          <% end %>
          <% post.post_category_markets.each do |post_category_market| %>
            <span class="badge text-bg-warning">
              <%= post_category_market.category_market.tag_name %>
            </span>
          <% end %>
          <% post.post_category_features.each do |post_category_feature| %>
            <span class="badge text-bg-info">
              <%= post_category_feature.category_feature.tag_name %>
            </span>  
          <% end %>
          <% post.post_category_realizabilities.each do |post_category_realizability| %>
            <span class="badge text-bg-dark">
              <%= post_category_realizability.category_realizability.tag_name %>
            </span>  
          <% end %>
          <% post.post_category_wants.each do |post_category_want| %>
            <span class="badge text-bg-primary">
              <%= post_category_want.category_want.tag_name %>
            </span>  
          <% end %>
          <% post.post_category_earnest.each do |post_category_earnest| %>
            <span class="badge text-bg-secondary">
             <%= post_category_earnest.category_earnest.tag_name %>
            </span>  
          <% end %><br>
          <% if post.post_type == 1 %>  
            <% post.user.user_profile.profile_category_about_regions.each do |profile_category_about_region| %>
              <span class="badge rounded-pill text-bg-primary">
                <%= profile_category_about_region.category_about_region.tag_name %>
              </span>  
            <% end %>
            <% post.user.user_profile.profile_category_incubations.each do |profile_category_incubation| %>
              <span class="badge rounded-pill text-bg-secondary">
                <%= profile_category_incubation.category_incubation.tag_name %>
              </span>  
            <% end %>
            <% post.user.user_profile.profile_category_immigration_supports.each do |profile_category_immigration_support| %>
              <span class="badge rounded-pill text-bg-warning">
                <%= profile_category_immigration_support.category_immigration_support.tag_name %>
              </span>  
            <% end %>
          <% else %>  
            <% post.user.user_profile.profile_category_jobs.each do |profile_category_job| %>
              <span class="badge rounded-pill text-bg-primary">
                <%= profile_category_job.category_job.tag_name %>
              </span>  
            <% end %>
            <% post.user.user_profile.profile_category_skills.each do |profile_category_skill| %>
              <span class="badge rounded-pill text-bg-secondary">
                <%= profile_category_skill.category_skill.tag_name %>
              </span>  
            <% end %>
            <% post.user.user_profile.profile_category_interests.each do |profile_category_interest| %>
              <span class="badge rounded-pill text-bg-warning">
                <%= profile_category_interest.category_interest.tag_name %>
              </span>  
            <% end %>
          <% end %>  
        
          <div class="btn-show-more">
            <%= link_to "もっと見る", post_path(post), class: "btn btn-outline-secondary btn-sm", style: "margin-top: 10px;" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<%# end %>