<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%= bootstrap_form_with(model: post, local: true, label_errors: true, html: { novalidate: true }) do |f| %>
        <div class="post-form">
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.text_field :title, label:"タイトル", required: true  %>
          <%= f.select :prefecture, {'北海道': '北海道', '青森県': '青森県', '岩手県': '岩手県', '宮城県': '宮城県', '秋田県': '秋田県', '山形県': '山形県', '福島県': '福島県', '茨城県': '茨城県', '栃木県': '栃木県', '群馬県': '群馬県', '埼玉県': '埼玉県', '千葉県': '千葉県', '東京都': '東京都', '神奈川県': '神奈川県', '新潟県': '新潟県', '富山県': '富山県', '石川県': '石川県', '福井県': '福井県', '山梨県': '山梨県', '長野県': '長野県', '岐阜県': '岐阜県', '静岡県': '静岡県', '愛知県': '愛知県', '三重県': '三重県', '滋賀県': '滋賀県', '京都府': '京都府', '大阪府': '大阪府', '兵庫県': '兵庫県', '奈良県': '奈良県', '和歌山県': '和歌山県', '鳥取県': '鳥取県', '島根県': '島根県', '岡山県': '岡山県', '広島県': '広島県', '山口県': '山口県', '徳島県': '徳島県', '香川県': '香川県', '愛媛県': '愛媛県', '高知県': '高知県', '福岡県': '福岡県', '佐賀県': '佐賀県', '長崎県': '長崎県', '熊本県': '熊本県', '大分県': '大分県', '宮崎県': '宮崎県', '鹿児島県': '鹿児島県', '沖縄県': '沖縄県'}, { include_blank: '選択してください', label: '都道府県'}, { class: 'form-control' , required: true }  %>
          <%= f.text_field :city, label:"市町村以下" %>
          
          <%= f.file_field :images, multiple: true, label:"画像" %>
          <% if post.images.attached? %>
            <p>選択済みの画像（削除する画像にチェックをつけてください）</p>
            <div style="display: flex; flex-wrap: wrap; width: 750px;">
            <% post.images.each_with_index do |image, index| %>
              <div style="display: flex; margin:5px 5px 5px 0;">
                <%= f.check_box :image_ids, { multiple: true, label: "画像#{index+1}" }, image.id, false %>
                <label for="user_image_ids_<%= image.id %>" >
                  <%= image_tag image, size: '300x200' %>
                </label>
              </div>
            <% end %>
            </div>
         <% end %>
          
        <% if post_type_flag == 1 %>  
            <%= f.hidden_field :post_type, value: 1 %>
            <%= f.text_area :body1, label:"地域資源・地域課題など", size: "40x15", placeholder:"", required: true %>
            <div class="category">地域資源<br>
              <% category_resources.each_with_index do |category_resource, index| %>
               <input class="form-check-input" type="checkbox" name="category_resource_id[]" value="<%= category_resource.id%>" <%= check_flags_post_category_resource[index] ? 'checked' : '' %> >
               <%= category_resource.tag_name %>&emsp;
              <% end %> 
            </div>  
            
            <div class="category">地域課題<br>
             <% category_issues.each_with_index do |category_issue, index| %>
              <nobr><input class="form-check-input" type="checkbox", name="category_issue_id[]" value="<%= category_issue.id %>" <%= check_flags_post_category_issue[index] ? "checked" : "" %> >
              <%= category_issue.tag_name %></nobr>&emsp;
             <% end %>  
            </div>
            
            <div class="category">需要<br>
             <% category_markets.each_with_index do |category_market, index| %>
               <nobr><input class="form-check-input" type="checkbox" name="category_market_id[]" value="<%= category_market.id %>" <%= check_flags_post_category_market[index] ? "checked" : "" %> >
               <%= category_market.tag_name %></nobr>&emsp;
             <% end %>
            </div>
            
            <%= f.text_area :feature, label:"地域の特色", size: "40x15", placeholder:"" %>
             <div class="category">地域の特色<br>
              <% category_features.each_with_index do |category_feature, index| %>
               <nobr><input class="form-check-input" type="checkbox" name="category_feature_id[]" value="<%= category_feature.id %>" <%= check_flags_post_category_feature[index] ? "checked" : "" %> >
               <%= category_feature.tag_name %></nobr>&emsp;
              <% end %> 
             </div>
             
            <%= f.text_field :realizability, label:"実現可能性" %>
            <div class="category">
              <% category_realizabilities.each_with_index do |category_realizability, index| %>
               <nobr><input class="form-check-input", type="checkbox", name="category_realizability_id[]", value="<%= category_realizability.id %>" <%= check_flags_post_category_realizability[index] ? "checked" : "" %> >
               <%= category_realizability.tag_name %></nobr>&emsp;
              <% end %>
            </div>
          <% end %> 
          
          <% if post_type_flag == 2 %>
            <%= f.hidden_field :post_type, value: 2 %>
            <%= f.text_area :body2, label:"やりたいことなど", size: "40x15", placeholder:"", required: true %>
            <% category_wants.each_with_index do |category_want, index| %>
              <nobr><input class="form-check-input" type="checkbox" name="category_want_id[]" value="<%= category_want.id %>" <%= check_flags_post_category_want[index] ? "checked" : "" %> >
              <%= category_want.tag_name %></nobr>&emsp;
            <% end %>
            
            <%= f.text_field :earnest, label:"本気度" %>
            <% category_earnests.each_with_index do |category_earnest, index| %>
              <nobr><input class="form-check-input" type="checkbox" name="category_earnest_id[]" value="<%= category_earnest.id %>" <%= check_flags_post_category_earnest[index] ? "checked" : "" %>  >
              <%= category_earnest.tag_name %></nobr>&emsp;
            <% end %>
          <% end %>    
          
          <div class="public_status">
            <% if edit_flag %>
              <%= f.radio_button :public_status_id, 1, label:"公開", inline: true %>
              <%= f.radio_button :public_status_id, 2, label:"非公開", inline: true %>
              <%= f.radio_button :public_status_id, 3, label:"終了", inline: true %>
            <% else %>
              <%= f.radio_button :public_status_id, 1, label:"公開", inline: true %>
              <%= f.radio_button :public_status_id, 2, label:"非公開", inline: true, checked: true %>
            <% end %>
            <%= render "layouts/posts/post_error",  user_profile: @user_profile %>
          </div>
        </div>
        <div class="submit"><%= f.submit %></div>
      <% end %>
    </div>
    <%= render "layouts/user_profiles/user_profile", user_profile: @user_profile, profile_type1_flag: @profile_type1_flag, profile_type2_flag: @profile_type2_flag %>
  </div>
</div>