<div class="container">
 <div class="row">
  <div class="col-md-8 offset-md-2">
    <%= bootstrap_form_for(article, local: true) do |f| %>
      <div class="field">
        <%= f.text_field :title, required: true %>
        <%= f.file_field :thumbnail, required: true %>
        <%= f.rich_text_area :content, required: true %>
      </div>
      <div class="submit"><%= f.submit "Submit" %></div>
    <% end %>
  </div>
</div>  
