<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
    <h1 class="text-center text-black">タグ登録（起業希望者投稿）</h1>  
    <%= bootstrap_form_with(model: @category_want, url: category_wants_path, local: true) do |f| %>
      <%= f.text_field :tag_name, label: "やりたいこと" %>
      <%= f.submit "登録" %>
    <% end %> 
    <%= bootstrap_form_with(model: @category_earnest, url: category_earnest_index_path, local: true) do |f| %>
      <%= f.text_field :tag_name, label: "本気度" %>
      <%= f.submit "登録" %>
    <% end %>  
    </div>
  </div> 
</div>   