<div class="container">
  <div class="row">
   <h1>タイトル</h1>
   <p>説明<br>説明<br>説明<br>説明<br>説明<br>説明<br>説明<br>説明<br>説明<br></p>
   </div>
  <div class="row">
    <h5>人気の投稿</h5>
    <% @posts.each do |post| %>
     <% if post.public_status_id == 1 %>
      <%= render "layouts/post_card", post: post %>
     <% end %>
    <% end %>
    <%= link_to "もっと見る", posts_path %>
  </div>
  <h5>地域で起業した人々</h5>
  <div class="row row-cols-1 row-cols-md-3 g-4">
   <% @articles.each do |article| %>
    <%= link_to article_path(article) do %>
     <%= render "articles/card", article: article %>
    <% end %>
   <% end %>
  </div>
  <%= link_to "もっと見る", articles_path %>
</div>