<div class="top-wrapper">
    <h1 class="top-wrapper-title">Start up in the countryside!</h1>
    <div class="top-wrapper-text  text-center" style="color: white;">
      <h2 style="margin-top: 50px;">地域でちょこっと起業したい。田舎で暮らしたい。遠くから副業で応援したい。</h2>
      <p>そんな地域で起業・副業したい人と地域での起業や移住のヒントを持つ人の橋渡しをします。</p>
      <%= link_to "詳しくはこちら", about_path, class: "btn btn-show-more" %>
    </div>
</div>

<div class="container">
  <div class="row">
    <!--<h1>Title</h1>-->
    <!--<div>地域でちょこっと起業したい。田舎で暮らしたい。遠くから応援したい。-->
    <!-- そんな地域で起業・副業したい人と地域での起業や移住のヒントを持つ人の橋渡しをします。-->

    <!--  <%#= link_to "詳しくはこちら", about_path, class: "btn btn-outline-secondary btn-show-more" %>-->
    <!--</div>-->
  <!--</div>-->
    <div class="col-md-4 offset-md-1">
      <div class="text-center">
        <div class="about-logo">
          <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-emoji-smile" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
          </svg>
        </div>
        <h4>土の人(地域側)</h4>
      </div>  
      <P>土地の人のみ知る地域資源、磨くと光ると分かっていても、それを形にする人がいない。<br>
         人が減っていく中で生じた地域課題、解決するためのアイデアや人材がほしい。
      </P>
    </div>
    
    <div class="col-md-2 text-center arrow-outer" style="padding-top: 50px;">
      <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrows" viewBox="0 0 16 16">
        <path d="M1.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L2.707 7.5h10.586l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L13.293 8.5H2.707l1.147 1.146a.5.5 0 0 1-.708.708l-2-2Z"/>
      </svg>
      <p>情報交換<br>交流<br>マッチング</p>
    </div>
    
    <div class="col-md-4">
    <div class="text-center">
      <div class="about-logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-emoji-smile" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
        </svg>
      </div>
      <h4>風の人（起業希望者）</h4>
    </div>    
      <P>田舎に移住して起業したい。<br>
         今いるところから、副業として応援したい。<br>
         自分の特技を活かして地域に貢献したい。
      </P>
    </div>
  </div>
  
  <div class="row">
    <hr>
    
    <div class="row g-5">
      <h1 class="offset-1">Ruralupでできること</h1>
      <div class="col-md-3 offset-1">
        <h2>発信する</h2>
        <div>
          <p>地域側として、地域資源や地域課題を投稿できます。<br>地域で起業したい人や移住してきたい人のヒントになるような投稿をしましょう。</p>
          <ul class="icon-list">
            <li><%= link_to "投稿を作成", new_post_region_path, rel: "noopener", target: "_blank" %></li>
            <li><%= link_to "投稿の見本", post_path(1), rel: "noopener", target: "_blank" %></li>
        </div>  
        <div>
          <p>起業希望者として、自分の行いたいプロジェクトや仕事を投稿できます。<br>自分の特技や興味を活かして、地域の人に関心を持ってもらえるようなプロジェクトを投稿しましょう。</p>
          <ul class="icon-list">
            <li><%= link_to "投稿を作成", new_post_business_path, rel: "noopener", target: "_blank" %></li>
            <li><%= link_to "投稿の見本", post_path(2), rel: "noopener", target: "_blank" %></li>
        </div>  
      </div>
    
      <div class="col-md-3">
        <h2>探す</h2>
        <p>他の人の投稿やプロフィールが検索できます。</p>
        <ul class="icon-list">
          <li><%= link_to "全ての投稿から探す", posts_path, rel: "noopener", target: "_blank" %></li>
          <li><%= link_to "地域側の投稿から探す", posts_region_path, rel: "noopener", target: "_blank" %></li>
          <li><%= link_to "起業希望者の投稿から探す", posts_business_path, rel: "noopener", target: "_blank" %></li>
        </ul>
      </div>
      
    　<div class="col-md-3">
        <h2>交流する</h2>
      <div>
        <p>他の人にメッセージを送れます。<br>各ユーザーのページにメッセージボタンがあります。</p>
        <ul class="icon-list">
          <li><%= link_to "ユーザー一覧", user_profiles_path, rel: "noopener", target: "_blank" %></li>
      </div>  
      <div>
        <p>投稿にコメントを残せます。</p>
      </div>  
      </div>
    </div>
    
    <div class="popular-posts-wrapper">
      <h5>人気の投稿</h5>
      <% @posts.each do |post| %>
      <%= render "layouts/posts/post_card", post: post %>
      <% end %>
      <div class="btn-show-more">
        <%= link_to "もっと見る", posts_path, class: "btn btn-outline-secondary" %>
      </div>
    </div>  
  </div>
  
  <div class="articles-wrapper">
    <h5>地域で起業した人々</h5>
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-bottom: 20px;">
      <% @articles.each do |article| %>
        <%= link_to article_path(article) do %>
          <%= render "articles/article_card", article: article %>
        <% end %>
      <% end %>
    </div>
    <div class="btn-show-more">
      <%= link_to "もっと見る", articles_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>