<div class="container">
  <div class="row">
    <h1>Title</h1>
    <div>地域で起業したい人と地域での起業や移住のヒントを持つ人をつなげるサイトです。 
      <%= link_to "詳しくはこちら", about_path, class: "btn btn-outline-secondary btn-show-more" %>
    </div>
  </div>
      <h5>人気の投稿</h5>
      <% @posts.each do |post| %>
      <%= render "layouts/posts/post_card", post: post %>
      <% end %>
      <div class="btn-show-more">
        <%= link_to "もっと見る", posts_path, class: "btn btn-outline-secondary" %>
      </div>
  <div class="articles-wrapper">
    <h5>地域で起業した人々</h5>
    <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-bottom: 20px;">
      <% @articles.each do |article| %>
        <%= link_to article_path(article) do %>
          <%= render "articles/article_card", article: article %>
        <% end %>
      <% end %>
    </div>
    <div class="btn-show-more">
      <%= link_to "もっと見る", articles_path, class: "btn btn-outline-secondary" %>
    </div>
  </div>
</div>