<div class="container">
  <div class="row">
   <div class="mb-3" style="max-width: 800px;"> 
    <form action="/posts_region">
     <input class="form-control" type="serch" name="keyword" placeholder="フリーキーワードを入れてください" value="<%= @keyword %>"> 
     <% prefectures = ['北海道','青森県','岩手県','宮城県','秋田県','山形県','福島県','茨城県','栃木県','群馬県','埼玉県','千葉県','東京都','神奈川県','新潟県','富山県','石川県','福井県','山梨県','長野県','岐阜県','静岡県','愛知県','三重県','滋賀県','京都府','大阪府','兵庫県','奈良県','和歌山県','鳥取県','島根県','岡山県','広島県','山口県','徳島県','香川県','愛媛県','高知県','福岡県','佐賀県','長崎県','熊本県','大分県','宮崎県','鹿児島県','沖縄県'] %>
     <select class="form-select selectpicker" name="prefecture">
      <option value="">都道府県</option>
      <% prefectures.each do |prefecture| %>
       <option value="<%= prefecture %>" <%= prefecture == @prefecture ? "selected" : "" %>><%= prefecture %></option>
      <% end %>
     </select>
     <div>投稿のタグ</div>
     <div class="category"><span class="badge text-bg-primary">地域資源</span><br>
      <% @category_resources.each_with_index do |category_resource, index| %>
        <input class="form-check-input" type="checkbox" name="category_resource_id[]" value="<%= category_resource.id%>" <%= @check_flags_category_resources[index] ? 'checked' : '' %> >
        <%= category_resource.tag_name %>
      <% end %>
     </div>
     <div class="category"><span class="badge text-bg-secondary">地域課題 </span><br>
       <% @category_issues.each_with_index do |category_issue, index| %>
        <input class="form-check-input" type="checkbox" name="category_issue_id[]" value="<%= category_issue.id %>" <%= @check_flags_category_issues[index] ? 'checked' : '' %> >
        <%= category_issue.tag_name %>
       <% end %>
     </div> 
     <div class="category"><span class="badge text-bg-warning">需要</span><br>
      <% @category_markets.each_with_index do |category_market, index| %>
        <input class="form-check-input" type="checkbox" name="category_market_id[]" value="<%= category_market.id %>" <%= @check_flags_category_markets[index] ? 'checked' : '' %>>
        <%= category_market.tag_name %>
      <% end %>
     </div>
     <div class="category"><span class="badge text-bg-info">地域の特色</span><br>
      <% @category_features.each_with_index do |category_feature, index| %>
       <input class="form-check-input", type="checkbox", name="category_feature_id[]", value="<%= category_feature.id %>" <%= @check_flags_category_features[index] ? 'checked' : '' %>>
       <%= category_feature.tag_name %>
      <% end %>
     </div> 
     <div class="category"><span class="badge text-bg-dark">実現可能性</span><br>
      <% @category_realizabilities.each_with_index do |category_realizability, index| %>
       <input class="form-check-input", type="checkbox", name="category_realizability_id[]", value="<%= category_realizability.id %>" <%= @check_flags_category_realizabilities[index] ? 'checked' : '' %>>
       <%= category_realizability.tag_name %>
      <% end %>
     </div>
     <div>プロフィールのタグ</div>
     <div class="category"><span class="badge rounded-pill text-bg-primary">地域について</span><br>
      <% @category_about_regions.each_with_index do |category_about_region, index| %>
       <input class="form-check-input", type="checkbox", name="category_about_region_id[]", value="<%= category_about_region.id %>" <%= @check_flags_category_about_regions[index] ? 'checked' : '' %>>
       <%= category_about_region.tag_name %>
      <% end %>
     </div> 
     <div class="category"><span class="badge rounded-pill text-bg-secondary">地域の起業支援</span><br>
      <% @category_incubations.each_with_index do |category_incubation, index| %>
        <input class="form-check-input" type="checkbox" name="category_incubation_id[]" value="<%= category_incubation.id %>" <%= @check_flags_category_incubations[index] ? 'checked' : '' %>>
        <%= category_incubation.tag_name %>
      <% end %>
     <div class="category"><span class="badge rounded-pill text-bg-warning">地域の移住支援</span><br>
      <% @category_immigration_supports.each_with_index do |category_immigration_support, index| %>
       <input class="form-check-input", type="checkbox", name="category_immigration_support_id[]", value="<%= category_immigration_support.id %>" <%= @check_flags_category_immigration_supports[index] ? 'checked' : '' %>>
       <%= category_immigration_support.tag_name %>
      <% end %>
     <!--</div> -->
      <h6>検索方法</6>
      <div><input class="form-check-input", type="radio", name="search_type", value="1" <%= @search_type != "2" ? "checked" : "" %> >OR検索（選択したタグを含む投稿をすべて表示）</div>
      <div><input class="form-check-input", type="radio", name="search_type", value="2" <%= @search_type == "2" ? "checked" : "" %>>AND検索（選択したタグをすべて含む投稿を表示）</div>
     </div>
     <input class="btn btn-secondary" type="submit" value="検索">
    </form>
    <a class="btn btn-secondary" href="/posts_region" role="button">検索条件をクリア</a>
   </div>
  </div>
  
  <P><%= @posts.count %>件の投稿</P>
  <div class="row">
    <% @posts.each do |post| %>
     <% if post.public_status_id == 1 %>
      <%= render "layouts/post_card", post: post %>
     <% end %>
    <% end %>
 </div>
</div>