<div class="container">
  <div class="row">
    <div class="mb-3" style="max-width: 800px;">
      <div class="category">
        <%= link_to "土の人投稿", posts_region_path, class: "btn badge-region" %>
        <%= link_to "風の人投稿", posts_business_path, class: "btn badge-business" %>
      </div>
      <form action="/posts">
        <%= render "layouts/posts/keyword_prefecture", keyword: @keyword, prefecture: @prefecture %>
        <div>
          <input class="btn btn-secondary" type="submit" value="検索" style="margin-bottom: 20px;">
        </div>
      </form>
      
      <div><%= link_to "検索条件をクリア", posts_path, class: "btn btn-secondary", style: "margin-bottom: 40px;" %></div>
      
      <%= render "layouts/posts/post_list", posts_count: @posts_count, posts: @posts %> 　
    </div>
  </div>
</div>