<% if @post.user == current_user || @post.public_status_id == 1 || @post.public_status_id == 3  %> 
  <div class="container posts-show">
    <div class="row g-0">
      <div class="col-md-10">
        <h2 class="title">
          <%= @post.title %>
          <% if @post.public_status_id == 3 %>
            <span class="badge bg-secondary">終了</span>
          <% end %> 
        </h2>
        
        <div class="row offset-sm-1 col-sm-10 mt-1">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% if @post.images.attached? %>   
                <% @post.images.each_with_index do |image, index| %>
                  <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
                    <%= image_tag image.variant(resize_to_limit: [1500, 525]) %>
                  </div>
                <% end %>
              <% end %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>       
       
        <p class="name"><%= @post.user.user_profile.screen_name %></p>
        <P class="place"><%= @post.prefecture%><%= @post.city %></P>
        
        <%= render "layouts/posts/favorite", post: @post %>
       
        <% if @post.post_type == 1 %>
          <span class="badge text-bg-success">地域側</span><br>
         
          <% @post.post_category_resources.each do |post_category_resource| %>
            <span class="badge text-bg-primary">
              <%= post_category_resource.category_resource.tag_name %>
            </span>
          <% end %>
          
          <% @post.post_category_issues.each do |post_category_issue| %>
            <span class="badge text-bg-secondary">
              <%= post_category_issue.category_issue.tag_name %>
            </span>
          <% end %>
         
          <% @post.post_category_markets.each do |post_category_market| %>
            <span class="badge text-bg-warning">
              <%= post_category_market.category_market.tag_name %>
            </span>
          <% end %>
         
          <P class="label"></P>
          <P><%= text_url_to_link(safe_join((h(@post.body1)).split("n"),tag(:br))).html_safe %></P>
          <p class="label">地域の特色 
          <% @post.post_category_features.each do |post_category_feature| %>
            <span class="badge text-bg-info">
              <%= post_category_feature.category_feature.tag_name %>
            </span>
          <% end %></p>
          <P><%= text_url_to_link(safe_join((h(@post.feature)).split("n"),tag(:br))).html_safe %></P>
          
          <p class="label">実現可能性 
          <% @post.post_category_realizabilities.each do |post_category_realizability| %>
          <span class="badge text-bg-dark">
            <%= post_category_realizability.category_realizability.tag_name %>
          </span>
          <% end %></p>
          <P><%= @post.realizability %></p>
        <% end %>  
          
        <% if @post.post_type == 2 %>
          <span class="badge text-bg-danger">起業希望者</span>
          <p class="label">やりたいこと</p>
          <% @post.post_category_wants.each do |post_category_want| %>
            <span class="badge text-bg-primary">
              <%= post_category_want.category_want.tag_name %>
            </span>
          <% end %>
          <p><%= text_url_to_link(safe_join((h(@post.body2)).split("n"),tag(:br))).html_safe %></p>
          
          <p class="label">本気度 
          <% @post.post_category_earnest.each do |post_category_earnest| %>
            <span class="badge text-bg-secondary">
              <%= post_category_earnest.category_earnest.tag_name %>
            </span>
          <% end %></p>
          <p><%= @post.earnest %></p>
        <% end %>
      </div>
     </div>
     
     <% if user_signed_in? && @post.user_id == current_user.id %>
      <%= link_to "投稿の編集", edit_post_path(@post.id), class: "btn btn-secondary btn-edit" %>
     <% end %> 
     
    <div class="col-md-9" style="margin-top: 40px;">
      <% @post.comments.each do |comment| %>
        <div class="row">
          <div class="col-md-1" style="margin: 10px;">
            <%= link_to user_profile_path(comment.user.user_profile.id) do %>
              <%= image_tag comment.user.user_profile.avatar.variant(:thumb_s), class: "posts-profile-avatar" if comment.user.user_profile.avatar.attached? %><br>
              
            <% end %> 
          </div>
         
          <div class="col-md-8 card" style="margin: 10px 0px;">
            <span class="screen_name"><%= comment.user.user_profile.screen_name %></span>
            <%= text_url_to_link(safe_join((h(comment.content)).split("\n"),tag(:br))).html_safe %>
          </div>
         
          <div class="col-md-2">
            <% if user_signed_in? && comment.user_id == current_user.id %> 
              <%= link_to edit_post_comment_path(@post.id, comment.id) do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                  <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                </svg>
              <% end %>
              <%= link_to post_comment_path(@post.id, comment.id), data: { turbo_method: :delete, turbo_confirm: "削除しますか？" } do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                  <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                </svg>
              <% end %>
            <% end %> 
          </div> 
        </div>
      <% end %>
      
      <% if !user_signed_in? || current_user.user_profile.nil? %>
        <small class="text-body-secondary">コメントするには先にプロフィール登録をお済ませください。</small>
      <% else %> 
        <%= bootstrap_form_with model:[@post, @comment] do |f| %>
          <div class="row">
            <div class="col-md-8">
              <%= f.text_area :content, size: "40x2", hide_label: true, placeholder:"コメント", required: true %>
            </div>
            <div class="col-md-2">
              <%= f.submit "投稿" %>
            </div>
          </div> 
        <% end %>  
      <% end %>
      
    </div> 
      <%= render "layouts/user_profiles/profile_for_posts", user_profile: @user_profile, post: @post %>
  </div>
<% end %>