<div class="container">
  <div class="col-lg-8 mx-auto p-3 py-md-5">
    <h1>サイトの使い方</h1>
    <p class="fs-5 col-md-8">地域で起業したい人と地域での起業や移住のヒントを持つ人をつなげるサイトです。</p>
    <p>投稿やコメント、メッセージの送受信にはプロフィールの登録が必要です。</p>
    
    <div class="mb-5">
      <%= link_to "プロフィール登録", new_name_path, class: "btn btn-primary px-4" %>
    </div>
    
    <hr class="col-3 col-md-2 mb-5">
    
    <div class="row g-5">
      <div class="col-md-6">
        <h2>発信する</h2>
        <div>
          <p>地域側として、地域資源や地域課題を投稿できます。<br>地域で起業したい人や移住してきたい人のヒントになるような投稿をしましょう。</p>
          <ul class="icon-list">
            <li><%= link_to "投稿を作成", new_post_region_path, rel: "noopener", target: "_blank" %></li>
        </div>  
        <div>
          <p>起業希望者として、自分の行いたいプロジェクトや仕事を投稿できます。<br>自分の特技や興味を活かして、地域の人に関心を持ってもらえるようなプロジェクトを投稿しましょう。</p>
          <ul class="icon-list">
            <li><%= link_to "投稿を作成", new_post_business_path, rel: "noopener", target: "_blank" %></li>
        </div>  
      </div>
    
      <div class="col-md-6">
        <h2>探す</h2>
        <p>他の人の投稿やプロフィールが検索できます。</p>
        <ul class="icon-list">
          <li><%= link_to "全ての投稿から探す", posts_path, rel: "noopener", target: "_blank" %></li>
          <li><%= link_to "地域側の投稿から探す", posts_region_path, rel: "noopener", target: "_blank" %></li>
          <li><%= link_to "起業希望者の投稿から探す", posts_business_path, rel: "noopener", target: "_blank" %></li>
        </ul>
      </div>
      
    　<div class="col-md-6">
        <h2>交流する</h2>
      <div>
        <p>他の人にメッセージを送れます。<br>各ユーザーのページにメッセージボタンがあります。</p>
        <ul class="icon-list">
          <li><%= link_to "ユーザー一覧", user_profiles_path, rel: "noopener", target: "_blank" %></li>
      </div>  
      <div>
        <p>投稿にコメントを残せます。</p>
      </div>  
      </div>
    </div>
  </div>
</div>
