<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <%= bootstrap_form_with(model: user_profile, local: true) do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <% if profile_region_flag %>
          <h1 class="text-center text-black">地域情報情報登録</h1>
          <%= f.hidden_field :profile_type1, value: "1" %>
          
          <%= f.text_area :about_region, label:"地域について", size: "40x15", placeholder:"" %>
          <div class="category">地域について<br>
            <% category_about_regions.each_with_index do |category_about_region, index| %>
              <input class="form-check-input", type="checkbox", name="category_about_region_id[]", value="<%= category_about_region.id %>" <%= check_flags_profile_category_about_region[index] ? "checked" : "" %> >
              <%= category_about_region.tag_name %>&emsp;
            <% end %>
          </div>
          
          <%= f.text_area :incubation, label:"地域の起業支援", size: "40x15", placeholder:"自治体の起業支援等についてお書きください。" %>
          <div class="category">起業支援<br>
            <% category_incubations.each_with_index do |category_incubation, index| %>
              <input class="form-check-input", type="checkbox", name="category_incubation_id[]", value="<%= category_incubation.id %>" <%= check_flags_profile_category_incubation[index] ? "checked" : "" %> >
              <%= category_incubation.tag_name %>&emsp;
            <% end %>
          </div>
          
          <%= f.text_area :immigration_support, label:"地域の移住支援", size: "40x15", placeholder:""  %>
          <div class="category">移住支援<br>
            <% category_immigration_supports.each_with_index do |category_immigration_support, index| %>
              <nobr><input class="form-check-input", type="checkbox", name="category_immigration_support_id[]", value="<%= category_immigration_support.id %>" <%= check_flags_profile_category_immigration_support[index] ? "checked" : "" %> >
              <%= category_immigration_support.tag_name %></nobr>&emsp;
            <% end %>
          </div>
          
          <%= f.text_area :other1, label:"その他", size: "40x15", placeholder:"" %>
          
          <div class="public_status">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" value="1" name="user_profile[public_status_region]" id="public_status_region_1" <%= public_status_region_flag ? checked="checked" : "" %> />
              <label class="form-check-label" for="public_status_region_1">公開</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" value="2" name="user_profile[public_status_region]" id="public_status_region_2" <%= public_status_region_flag ? "" : checked="checked"%> />
              <label class="form-check-label" for="public_status_region_2">非公開</label>
            </div>
          </div>
        <% end %>  
            
          
        <% if profile_business_flag %>
          <h1 class="text-center text-black">プロフィール情報登録</h1>
          <%= f.hidden_field :profile_type2, value: 1 %>
          
          <%= f.text_area :job, label:"職業", size: "40x15", placeholder:"" %>
          <div class="category">職業<br>
            <% category_jobs.each_with_index do |category_job, index| %>
              <input class="form-check-input", type="checkbox", name="category_job_id[]", value="<%= category_job.id %>" <%= check_flags_profile_category_job[index] ? "checked" : "" %> >
              <%= category_job.tag_name %>&emsp;  
            <% end %>
          </div>
          
          <%= f.text_area :skill, label:"得意なこと", size: "40x15", placeholder:"" %>
          <div class="category">得意なこと<br>
            <% category_skills.each_with_index do |category_skill, index| %>
              <input class="form-check-input", type="checkbox", name="category_skill_id[]", value="<%= category_skill.id %>" <%= check_flags_profile_category_skill[index] ? "checked" : "" %> >
              <%= category_skill.tag_name %>&emsp;
            <% end %>
          </div>
          
          <%= f.text_area :interest, label:"興味のあること", size: "40x15", placeholder:"" %>
          <div class="category">興味のあること<br>
            <% category_interests.each_with_index do |category_interest, index| %>
              <input class="form-check-input", type="checkbox", name="category_interest_id[]", value="<%= category_interest.id %>" <%= check_flags_profile_category_interest[index] ? "checked" : "" %> >
              <%= category_interest.tag_name %>&emsp;
            <% end %>
          </div>
          
          <%= f.text_area :other2, label:"その他", size: "40x15", placeholder:""  %>
          <div class="public_status">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" value="1" name="user_profile[public_status_business]" id="public_status_business_1" <%= public_status_business_flag ? checked="checked" : "" %>/>
              <label class="form-check-label" for="public_status_business_1">公開</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" value="2" name="user_profile[public_status_business]" id="public_status_business_2" <%= public_status_business_flag ? "" : checked="checked"%> />
              <label class="form-check-label" for="public_status_business_2">非公開</label>
            </div>
          </div>
          <% end %>    
          
          <div class="note">※投稿を公開するにはプロフィールを公開する必要があります。<br>プロフィール非公開でもコメントやメッセージは可能ですが、その場合、名前とプロフィール写真は公開されます。</div>
          <div class="submit"><%= f.submit %></div>
      <% end %>
    </div>
  </div>
</div>
