<div class="container">
  <div class="row g-0">
    <div class="col-md-10 card user-profile-area">
      <div class="card-body">
      <div><span class="badge badge-business">起業希望者</span></div>
      <div class="profile-content"> 
        <p class="label">職業
        <% user_profile.profile_category_jobs.each do |profile_category_job| %>
          <span class="badge rounded-pill text-bg-primary">
          <%= profile_category_job.category_job.tag_name %>
          </span>  
        <% end %></p>
        <p><%= text_url_to_link(safe_join((h(user_profile.job)).split("\n"),tag(:br))).html_safe %></p>
      </div>
      
      <div class="profile-content"> 
        <p class="label">得意なこと
        <% user_profile.profile_category_skills.each do |profile_category_skill| %>
          <span class="badge rounded-pill text-bg-secondary">
          <%= profile_category_skill.category_skill.tag_name %>
          </span>  
        <% end %></p>
        <p><%= text_url_to_link(safe_join((h(user_profile.interest)).split("\n"),tag(:br))).html_safe %></p>
      </div>
      
      <div class="profile-content"> 
        <p class="label">興味のあること
        <% user_profile.profile_category_interests.each do |profile_category_interest| %>
          <span class="badge rounded-pill text-bg-warning">
          <%= profile_category_interest.category_interest.tag_name %>
          </span>  
        <% end %></p>
        <p><%= text_url_to_link(safe_join((h(user_profile.interest)).split("\n"),tag(:br))).html_safe %></p>
      </div> 
      
      <div class="profile-content"> 
        <p class="label">その他</p>
        <p><%= text_url_to_link(safe_join((h(user_profile.other2)).split("\n"),tag(:br))).html_safe %></p>
      </div>    

    <% if mypage_flag %>
      <% if user_profile.public_status_business == 1 %>
        <div class="public-status">公開中</div>
      <% elsif user_profile.public_status_business == 2 %>
        <div class="public-status">非公開<br>
        <small style="font-size: small; font-weight: normal; color: grey;">※プロフィールが非公開だと投稿は公開されません。<br>※プロフィールが非公開でもコメントやメッセージを送信すると、名前やプロフィール写真は公開されます。</small></div>  
      <% end %>
    <% end %> 
    
    <% if user_signed_in? && user_profile.user_id == current_user.id %> 
      <%= link_to 'プロフィールの編集', edit_user_profiles_business_path(user_profile.id), class: "btn btn-secondary btn-edit" %>
    <% end %> 
      </div>
    </div> 
  </div>
 </div>