<div class="container">
 <div class="row">
  <div class="col-md-8 offset-md-2">
    <% type_flag %>
    <%= bootstrap_form_with(model: post, local: true) do |f| %>  
      <div class="post_form">
        <%= f.hidden_field :user_id, value: current_user.id %>
        <% if post_type_flag == 1 %>
         <%= f.hidden_field :post_type, value: 1 %>
        <% end %> 
        <% if post_type_flag == 2 %>
         <%= f.hidden_field :post_type, value: 2 %>
        <% end %> 
        <%= f.text_field :title, label:"タイトル", required: true  %>
        <%= f.select :prefecture, {'北海道': '北海道', '青森': '青森', '岩手県': '岩手県', '宮城県': '宮城県', '秋田県': '秋田県', '山形県': '山形県', '福島県': '福島県', '茨城県': '茨城県', '栃木県': '栃木県', '群馬県': '群馬県', '埼玉県': '埼玉県', '千葉県': '千葉県', '東京都': '東京都', '神奈川県': '神奈川県', '新潟県': '新潟県', '富山県': '富山県', '石川県': '石川県', '福井県': '福井県', '山梨県': '山梨県', '長野県': '長野県', '岐阜県': '岐阜県', '静岡県': '静岡県', '愛知県': '愛知県', '三重県': '三重県', '滋賀県': '滋賀県', '京都府': '京都府', '大阪府': '大阪府', '兵庫県': '兵庫県', '奈良県': '奈良県', '和歌山県': '和歌山県', '鳥取県': '鳥取県', '島根県': '島根県', '岡山県': '岡山県', '広島県': '広島県', '山口県': '山口県', '徳島県': '徳島県', '香川県': '香川県', '愛媛県': '愛媛県', '高知県': '高知県', '福岡県': '福岡県', '佐賀県': '佐賀県', '長崎県': '長崎県', '熊本県': '熊本県', '大分県': '大分県', '宮崎県': '宮崎県', '鹿児島県': '鹿児島県', '沖縄県': '沖縄県'}, { include_blank: '選択してください', label: '都道府県'}, { class: 'form-control' , required: true }  %>
        <%= f.text_field :city, label:"市町村以下" %>
        <% if post_type_flag == 1 %>  
          <%= f.text_area :body1, label:"地域資源・地域課題など", size: "40x15", placeholder:"", required: true %>
          <%= f.text_area :feature, label:"地域の特色", size: "40x15", placeholder:"" %>
        <% end %> 
        <% if post_type_flag == 2 %>  
          <%= f.text_area :body2, label:"やりたいことなど", size: "40x15", placeholder:"", required: true %>
        <% end %> 
        <%= f.file_field :images, multiple: true, label:"画像" %>
        <% if post.images.attached? %>
        <p>選択済みの画像（削除する画像にチェックをつけてください）</p>
        <div style="display: flex; flex-wrap: wrap; width: 750px;">
        <% post.images.each_with_index do |image, index| %>
          <div style="display: flex; margin:5px 5px 5px 0;">
            <%= f.check_box :image_ids, { multiple: true, label: "画像#{index+1}" }, image.id, false %>
            <label for="user_image_ids_<%= image.id %>" >
              <%= image_tag image, size: '300x200' %>
            </label>
          </div>
        <% end %>
        </div>
      <% end %>
        <%= f.text_field :realizability, label:"実現可能性" %>
        <%= f.text_field :earnest, label:"本気度" %>
        
  
        <div class="public_status">
          <%= f.radio_button :public_status_id, 1, label:"公開", inline: true %>
          <%= f.radio_button :public_status_id, 2, label:"非公開", inline: true %>
          <% if edit_flag %>
           <%= f.radio_button :public_status_id, 3, label:"終了", inline: true %>
          <% end %>
        </div>
      </div>
      <div class="submit"><%= f.submit %></div>
     <% end %>
     <%= bootstrap_form_for(@post_category_resource, url: {controller: 'posts_region', action: 'create'}) do |f|  %>
          <% @category_resources.each do |category_resource| %>
            <%= f.check_box :category_resource_id, value: category_resource.id %>
             <label><%= category_resource.tag_name %></label>
            <%= f.hidden_field :post_id, value: @post.id %>
          <% end %>
          <div class="submit"><%= f.submit %></div>
    <% end %>  
   </div>
   <%= render "layouts/user_profile", user_profile: @user_profile, profile_type1_flag: @profile_type1_flag, profile_type2_flag: @profile_type2_flag %>
  </div>
</div>