<div class="card mb-3" style="max-width: 800px;">
  <div class="row g-0">
    <% if post.public_status_id == 1 %>
      <div class="col-md-4">
        <% if post.images.attached? %>
          <% post.images.each_with_index do |image, index| %>
           <% if index == 0 %>
            <%= image_tag image.variant(resize_to_fill: [250, 220]), class: "img-fluid" %>
           <% end %>  
          <% end %>
        <% end %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <% if post.post_type == 1 %>
           <span class="badge text-bg-success">地域側</span>
          <% else %>
           <span class="badge text-bg-danger">起業希望者</span>
          <% end %>
          <h5 class="card-title"><%= post.title %></h5>
          <% if !user_signed_in? %>
           <%= image_tag "heart-black.png", class: "icon-heart" %>
          <% elsif !post.favorite_users.include?(current_user) %>
           <%= link_to favorites_path(post_id: post.id), data: { turbo_method: :post } do %>
            <%= image_tag "heart-black.png", class: "icon-heart" %>
           <% end %>
          <% else %> 
           <%= link_to favorite_path(post), data: { turbo_method: :delete } do %>
            <%= image_tag "heart.png", class: "icon-liked-heart" %>
           <% end %>
          <% end %>
          <nobr><%= post.favorite_users.size %></nobr>
          <p class="card-text"><%= post.user.user_profile.screen_name %></p>
          <p class="card-text"><%= post.prefecture %><%= post.city %></p>
          <p class="card-text"><small class="text-body-secondary"><%= l post.updated_at %></small></p>
          <% post.post_category_resources.each do |post_category_resource| %>
           <span class="badge text-bg-secondary">
            <%= post_category_resource.category_resource.tag_name %>
           </span>
          <% end %>
          <% post.post_category_issues.each do |post_category_issue| %>
           <span class="badge text-bg-secondary">
            <%= post_category_issue.category_issue.tag_name %>
           </span>   
          <% end %>
          <% post.post_category_markets.each do |post_category_market| %>
           <span class="badge text-bg-secondary">
            <%= post_category_market.category_market.tag_name %>
           </span>
          <% end %>
          <% post.post_category_features.each do |post_category_feature| %>
           <span class="badge text-bg-secondary">
            <%= post_category_feature.category_feature.tag_name %>
           </span>  
          <% end %>  
        
          <br><%= link_to "もっと見る", post_path(post) %></br>
        </div>
      </div>
    <% end %>
  </div>
</div>