<%= bootstrap_form_for(post) do |f| %>
　<div>
   <div>
    <%= f.file_field :main_image, label:"画像" %>
    <%= f.file_field :sub_image1_image, label:"画像" %>
    <%= f.file_field :sub_image2_image, label:"画像" %>
    <%= f.file_field :sub_image3_image, label:"画像" %>
    <%= f.file_field :sub_image4_image, label:"画像" %>
    <%= f.file_field :attachment, label:"画像" %>
    </div>
    <%= f.text_field :realizability, label:"実現可能性" %>
    <%= f.text_field :earnest, label:"本気度" %>
    <div class="public_status">
      <%= f.radio_button :public_status_id, 1, label:"公開", inline: true %>
      <%= f.radio_button :public_status_id, 2, label:"非公開", inline: true %>
    </div>
  <div class="submit"><%= f.submit %></div>
  </div>
<% end %>
