<div class="container">
 <div class="row g-0">
  <div class="col-md-2">
   <%= image_tag user_profile.avatar.variant(:thumb), class: "profile-avatar" if user_profile.avatar.attached? %>
  </div>
  <div class="col-md-10">
    <p class="name"><%= user_profile.screen_name %></p>
    <P class="place"><%= user_profile.prefecture%><%= user_profile.city %></P>
    <%# if profile_type1_flag %>
     <!--<span class="badge text-bg-success">地域側</span>-->
     <!--<P class="label">地域について</P>-->
     <!--<P><%#= text_url_to_link(safe_join((h(user_profile.about_region)).split("\n"),tag(:br))).html_safe %></P>-->
     <!--<p class="label">地域の起業支援</p>-->
     <!--<P><%#= text_url_to_link(safe_join((h(user_profile.incubation)).split("\n"),tag(:br))).html_safe %></P>-->
     <!--<P class="label">地域の移住支援</P>-->
     <!--<p><%#= text_url_to_link(safe_join((h(user_profile.immigration_support)).split("\n"),tag(:br))).html_safe %></p>-->
     <!--<p class="label">その他</p>-->
     <!--<p><%#= text_url_to_link(safe_join((h(user_profile.other1)).split("\n"),tag(:br))).html_safe %></p>-->
    <%# end %>
    <%# if profile_type2_flag %>
     <span class="badge text-bg-danger">起業希望者</span>
     <p class="label">職業</p>
     <p><%= text_url_to_link(safe_join((h(user_profile.job)).split("\n"),tag(:br))).html_safe %></p>
     <p class="label">得意なこと</p>
     <p><%= text_url_to_link(safe_join((h(user_profile.interest)).split("\n"),tag(:br))).html_safe %></p>
     <p class="label">興味のあること</p>
     <p><%= text_url_to_link(safe_join((h(user_profile.interest)).split("\n"),tag(:br))).html_safe %></p>
     <p class="label">その他</p>
     <p><%= text_url_to_link(safe_join((h(user_profile.other2)).split("\n"),tag(:br))).html_safe %></p>
    <%# end %>
    <% if user_profile.user_id == current_user.id %> 
     <%= link_to '編集', edit_user_profile_path(user_profile.id) %>
    <% end %> 
   </div> 
  </div>
 </div>