<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center text-black">プロフィール情報登録</h1>
        <%= bootstrap_form_for(user_profile) do |f| %>
        　<div>
        　  <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.text_field :screen_name, label:"表示名", required: true  %>
            <%= f.file_field :avatar, label:"プロフィール画像" %> 
            <%# prefecture = ['北海道','青森県','岩手県','宮城県','秋田県','山形県','福島県','茨城県','栃木県','群馬県','埼玉県','千葉県','東京都','神奈川県','新潟県','富山県','石川県','福井県','山梨県','長野県','岐阜県','静岡県','愛知県','三重県','滋賀県','京都府','大阪府','兵庫県','奈良県','和歌山県','鳥取県','島根県','岡山県','広島県','山口県','徳島県','香川県','愛媛県','高知県','福岡県','佐賀県','長崎県','熊本県','大分県','宮崎県','鹿児島県','沖縄県'] %>
            <%# array = [["都道府県",""]] %>
            <%# prefecture.each do |i| %>
              <%# array << {i: i} %>
            <%# end %>
            
            <%= f.select :prefecture, {'北海道': '北海道', '青森': '青森', '岩手県': '岩手県', '宮城県': '宮城県', '秋田県': '秋田県', '山形県': '山形県', '福島県': '福島県', '茨城県': '茨城県', '栃木県': '栃木県', '群馬県': '群馬県', '埼玉県': '埼玉県', '千葉県': '千葉県', '東京都': '東京都', '神奈川県': '神奈川県', '新潟県': '新潟県', '富山県': '富山県', '石川県': '石川県', '福井県': '福井県', '山梨県': '山梨県', '長野県': '長野県', '岐阜県': '岐阜県', '静岡県': '静岡県', '愛知県': '愛知県', '三重県': '三重県', '滋賀県': '滋賀県', '京都府': '京都府', '大阪府': '大阪府', '兵庫県': '兵庫県', '奈良県': '奈良県', '和歌山県': '和歌山県', '鳥取県': '鳥取県', '島根県': '島根県', '岡山県': '岡山県', '広島県': '広島県', '山口県': '山口県', '徳島県': '徳島県', '香川県': '香川県', '愛媛県': '愛媛県', '高知県': '高知県', '福岡県': '福岡県', '佐賀県': '佐賀県', '長崎県': '長崎県', '熊本県': '熊本県', '大分県': '大分県', '宮崎県': '宮崎県', '鹿児島県': '鹿児島県', '沖縄県': '沖縄県'}, { include_blank: '選択してください', label: '都道府県'}, { class: 'form-control' , required: true }  %>
            <%= f.text_field :city, label:"市町村以下" %>
            <p>どちらで登録するかお選びください</p>
            <div>
              <%#= f.check_box :profile_type1, label: "地域側" %>
              <!--<input name="user_profile[profile_type1]" type="hidden" value="0" autocomplete="off" />-->
              <input class="form-check-input" type="checkbox" value="1" name="user_profile[profile_type1]" id="user_profile_profile_type1" /><label class="form-check-label" for="user_profile_profile_type1">地域側</label>
              <div class="user_profile_profile_type1">地域側として登録する内容です。
                <%= f.text_area :about_region, label:"地域について", size: "40x15", placeholder:"" %>
                <%= f.text_area :incubation, label:"地域の起業支援", size: "40x15", placeholder:"自治体の起業支援等についてお書きください。" %>
                <%= f.text_area :immigration_support, label:"地域の移住支援", size: "40x15", placeholder:""  %>
                <%= f.text_area :other1, label:"その他", size: "40x15", placeholder:"" %>
              </div>
            </div>
            <div>
            <%#= f.check_box :profile_type2, label: "起業希望者" %>
            <!--<input name="user_profile[profile_type2]" type="hidden" value="0" autocomplete="off" />-->
            <input class="form-check-input" type="checkbox" value="1" name="user_profile[profile_type2]" id="user_profile_profile_type2" /><label class="form-check-label" for="user_profile_profile_type2">起業希望者</label>
              <div class="user_profile_profile_type2">起業希望者として登録する内容です。
                <%= f.text_area :job, label:"職業", size: "40x15", placeholder:"" %>
                <%= f.text_area :skill, label:"得意なこと", size: "40x15", placeholder:"" %>
                <%= f.text_area :interest, label:"興味のあること", size: "40x15", placeholder:"" %>
                <%= f.text_area :other2, label:"その他", size: "40x15", placeholder:""  %>
              </div>
            </div>  
            <div class="public_status">
              <%= f.radio_button :public_status_id, 1, label:"公開", inline: true %>
              <%= f.radio_button :public_status_id, 2, label:"非公開", inline: true %>
            </div>
           <div class="submit"><%= f.submit %></div>
          </div>
        <% end %>
   </div>
  </div>
</div>
