<!DOCTYPE html>
<html>
  <head>
    <title>Countryside</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <!--<p class="notice"><%#= notice %></p>-->
    <!--<p class="alert"><%#= alert %></p>-->
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-primary" role="alert"><%= value %></div>
    <% end %>
    
   <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
           <%# if user_profile_nil?(current_user) %>  
            <!--<a class="nav-link" href="/user_profiles/new">プロフィール登録</a>-->
            <%= link_to "プロフィール登録", new_user_profile_path %>
           <%# else %>
            <%#= link_to "プロフィール編集", edit_user_profile_path(current_user.user_profile.id) %>
           <%# end %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/user_profiles" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              ユーザー一覧
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">地域側</a></li>
              <li><a class="dropdown-item" href="#">起業希望者</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts_region/new">投稿作成(地域)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/posts_business/new">投稿作成(起業)</a>
          </li>
          <!--<li class="nav-item dropdown">-->
          <!--  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
          <!--    Dropdown-->
          <!--  </a>-->
          <!--  <ul class="dropdown-menu">-->
          <!--    <li><a class="dropdown-item" href="#">Action</a></li>-->
          <!--    <li><a class="dropdown-item" href="#">Another action</a></li>-->
          <!--    <li><hr class="dropdown-divider"></li>-->
          <!--    <li><a class="dropdown-item" href="#">Something else here</a></li>-->
          <!--  </ul>-->
          <!--</li>-->
          <!--<li class="nav-item dropdown">-->
          <!--  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
          <!--    投稿作成-->
          <!--  </a>-->
          <!--  <ul class="dropdown-menu">-->
          <!--    <li><a class="dropdown-item" href="/posts/new/1">地域側</a></li>-->
          <!--    <li><a class="dropdown-item" href="/posts/new/2">起業希望者</a></li>-->
          <!--    <li><hr class="dropdown-divider"></li>-->
          <!--  </ul>-->
          <!--</li>-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="/posts" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              投稿一覧
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">地域側</a></li>
              <li><a class="dropdown-item" href="#">起業希望者</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in">ログイン</a>
          </li>
          <li class="nav-item">
            <!--<a class="nav-link" href="/users/sign_out">ログアウト</a>-->
            <%= button_to 'ログアウト', destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      </div>
    </div>
  </nav>              
  <%= yield %>
  
  <script>
     $(function(){
       $(".alert").fadeOut(5000);
     });
    </script>
    
  </body>
</html>
