<!DOCTYPE html>
<html>
  <head>
    <title>Countryside</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css', integrity: 'xxxx', crossorigin: 'anonymous' %>
    <%= javascript_include_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js', integrity: 'xxxx', crossorigin: 'anonymous' %>
    <!--<p class="notice"><%#= notice %></p>-->
    <!--<p class="alert"><%#= alert %></p>-->
  </head>

  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-primary" role="alert"><%= value %></div>
    <% end %>
    
   <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Top Page</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!--<li class="nav-item">-->
          <!--  <a class="nav-link active" aria-current="page" href="#">Home</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
          <!--  <a class="nav-link" href="#">Link</a>-->
          <!--</li>-->
          <li class="nav-item dropdown">
            <a class="nav-link" href="/user_profiles">
              ユーザー一覧
            </a>
          </li>
          <!--<li class="nav-item dropdown">-->
          <!--  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">-->
          <!--    Dropdown-->
          <!--  </a>-->
          <!--  <ul class="dropdown-menu">-->
          <!--    <li><a class="dropdown-item" href="#">Action</a></li>-->
          <!--    <li><a class="dropdown-item" href="#">Another action</a></li>-->
          <!--    <li><hr class="dropdown-divider"></li>-->
          <!--    <li><a class="dropdown-item" href="#">Something else here</a></li>-->
          <!--  </ul>-->
          <!--</li>-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              投稿作成
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/posts_region/new">地域側</a></li>
              <li><a class="dropdown-item" href="/posts_business/new">起業希望者</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              投稿一覧
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/posts">全ての投稿</a></li>
              <li><a class="dropdown-item" href="/posts_region">地域側</a></li>
              <li><a class="dropdown-item" href="/posts_business">起業希望者</a></li>
            </ul>
          </li>
          <li class="nav-item">
           <% if user_signed_in? && (Message.exists?(to_id:current_user.id) || Message.exists?(from_id:current_user.id)) %>  
            <a class="nav-link" href="/messages/all">メッセージ</a>
           <% end %>  
          </li>
          <!--<li class="nav-item">-->
          <!--  <a class="nav-link disabled">Disabled</a>-->
          <!--</li>-->
          
          <% if admin_signed_in? %>
           <li class="nav-link">
            <%= link_to '管理画面トップ', admins_path %>
           </li>
           <li class="nav-link">
              <%= link_to 'ログアウト', destroy_admin_session_path, data: { turbo_method: :delete } %>
            </li>
          <% else %>
           <% if !user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_in">ログイン</a>
            </li>
           <% else %>  
             <% if current_user.user_profile.nil? %>  
              <li class="nav-link">
                <%= link_to "プロフィール登録", controller: "user_profiles", action: "new" %>
              </li>
             <% else %>  
              <li class="nav-link">
                <%= link_to "マイページ", controller: "accounts", action: "show", id: current_user.id %>
              </li>
             <% end %>  
             <li class="nav-link">
              <%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>
             </li>
            <% end %>
          <% end %>
          
        </ul>
      </div>
    </div>
  </nav>              
  <%= yield %>
  
  <script>
    // $(function(){
    //   $(".alert").fadeOut(5000);
    // });
    </script>
    
  </body>
</html>